<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated form -->
      <package
            uri="http://www.example.com/form"
            class="form.FormPackage"
            genModel="metamodel/form.genmodel"/>
   </extension>

</plugin>
